includes:
	- vendor/larastan/larastan/extension.neon
	- phpstan-baseline.neon

parameters:
	level: 0
	paths:
		- app
		- config
		- database
		- routes
		- tests
		- phpstan-bootstrap.php
		- rector.php
	bootstrapFiles:
		- vendor/autoload.php
		- phpstan-bootstrap.php
	excludePaths:
		- bootstrap/cache
		- storage
		- vendor
